{{>layouts/header}}

<div class="container text-center" style="background: #D3D3D3; font-size: 40px;">
    <div class="row">
        {{#numbers}}
            <div class="col">
                {{.}}
            </div>
        {{/numbers}}
    </div>
</div>

<div class="container text-center" style="background: #D3D3D3; font-size: 40px; width: 300px; margin-top: 150px; border-radius: 15px;">
    <a href="/home/lotto" style="color: #000000; text-decoration: none;">다시 돌리기</a>
</div>